.danh-sach-ly-do-hoc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15%;
}

.danh-sach-ly-do-hoc .ly-do-list {
    display: flex;
    flex-direction: row;
}