.danh-sach-ly-do-hoc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.danh-sach-ly-do-hoc .total-heading {
    width: 50%;
}

.danh-sach-ly-do-hoc .total-title {
    font-family: sans, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 16px;
}

.danh-sach-ly-do-hoc .total-explant {
    font-family: sans, sans-serif;
    text-align: left;
    margin-bottom: 16px;
}
.danh-sach-ly-do-hoc .ly-do-list {
    display: flex;
    flex-direction: row;
}